#container{
    height: 200px;
    padding: 20px;
   /* background-color: rgb(108, 133, 157);*/
    display: flex;
    align-items: flex-end;
}

h1{
    padding-top: 7%;
    /*color: white;*/
    font-size: 3em;
}
pre{
    color: white;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightslategrey;
}

.bar{
    width: 25px;
    background-color: darkslategray;
    border: 2px solid white;
    margin: 3px;
}

.range{
    margin: 30px;
    padding: 0 20px 0 5px;
}

.field{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 5px;
}
.field .number{
    position: relative;
    margin-right: 40px;
    font-size: 19px;
    bottom: 2px;
    
}

button{
    border-radius: 25px;
    height: auto;
    width: auto;
    padding: 5px;
    font-weight: bold;
    color:midnightblue;
}

@media screen and (max-width: 400px)
{
    h1{
        font-size: 2em;
    }
    .container{
        margin: 20px;
        padding: 10px;
        transform: scale(0.55);
    }
}
